<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <title>Globarium</title>
    
     <!-- meta data for sharing and caring -->
    <meta name="description" content="A concave hollow globe experiment inspired by the Mapparium in Boston. A work in progress by Michael Aschauer" />
    <meta property="og:title" content="Globarium" />
    <meta property="og:description" content="A concave hollow globe experiment inspired by the Mapparium in Boston. A work in progress by Michael Aschauer" />
    <meta property="og:image" content="<%= BASE_URL %>img/globarium_share.jpg" />
    <meta property="og:url" content="https://globarium.fooviz.xyz" />
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="CryptoBorders" />
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Globarium"/>
    <meta name="twitter:description" content="A concave hollow globe experiment inspired by the Mapparium in Boston. A work in progress by Michael Aschauer" />
    <meta name="twitter:image" content="<%= BASE_URL %>img/globarium_share.jpg" />
    <meta name="twitter:domain" content="fooviz.xyz"/>
    
    <link rel="canonical" href="https://globarium.fooviz.xyz" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="<%= BASE_URL %>fonts/fonts.css">
        
  </head>
  
  <body>
    <noscript>
      <strong>We're sorry but globarium doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>

</html>
