<template>
  <div id="app">

    <div id="intro">
    <h1>GLOBARIUM</h1>
    <p>A concave hollow globe experiment. <br />Inspired by the Mapparium in Boston.</p>
    <p>A work in progress by <a href="http://m.ash.to">Michael Aschauer</a>,<br />
        <a href="http://fooviz.xyz">fooviz.xyz</a> &copy; 2019</p>
    </div>

    <Globarium />

  </div>
</template>

<script>
import Globarium from './components/Globarium.vue'

export default {
  name: 'app',
  components: {
    Globarium
  }
}
</script>

<style>

body, html {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #eee;
  margin: 0px;
  padding: 0;
  overflow: hidden;
}
a {color: #bbb}

#app {
  font-family: 'TStar', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #efefef;
}

#intro {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  font-size:18px;
  width:50%;
  text-shadow: 3px 3px 5px black;
  /*background-color: rgba(0,0,0,.6);*/
}
#intro h1 {font-size:96px;font-weight:normal;margin-bottom:36px}
button { margin-bottom: 10px !important}


</style>
